body,.offcanvas{
    background-color: #f5f1eb;
    color: #00001a;
    font-family: 'Inter', sans-serif;
}

.container-fluid{
    padding: 2% 15%;
    padding-bottom: 1.2% ;
}

/* Menu container */
.padding-tb{
    padding-bottom: 1.5rem;
}


/* Offcanvas menu */
.offcanvas1{
    visibility: hidden;
    height: 3.5rem;
}

/* Normal menu */
.nav-item{
    margin-left: 1rem;
}

/* Image */
.img-fluid{
    max-width: 98%;
}

/* Notices */
.principal-notice{
    font-size: 4rem;
    font-weight: bolder;
    padding-right: 3rem;
}

.notice-fragment{
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.read-more{
    text-decoration: none;
    background-color: #f15e50;
    color: #fffdfa;
    font-size: 1rem;
    padding: 1rem 4rem;
    letter-spacing: 4px;
}

.read-more:hover{
    background-color: #00001a;
    color: #fffdfa;
}

/* A-side */
.a-side{
    color: #fffdfa;
    background-color: #00001a;
    width: 32.33%;
    padding: 3rem 2rem;
}

.side-header{
    color: #e9ab53;
    font-size: 3rem;
}

.side-subtile{
    text-decoration: none;
    color: #fffdfa;;
}

.side-subtile:hover,
.nav-link:hover{
    color: #e9ab53;
}

.side-notice{
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #818181;
}

.fragment-notice{
    font-weight: lighter;
}

/* Footer */
.image-news{
    max-width: 30%;
    display: inline-block;
    margin-right: 2rem;
}

.news-contain{
    display: inline-block;
}

.number-news{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #c5c6ce;
}

.number-header{
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.number-header:hover{
    color: #f15e50;
}

.number-subtitle{
    color: #858585;
}


@media(max-width: 768px){
    .offcanvas1{
        visibility: visible;
        height: auto;
        position: relative;
    }

    .normal_menu{
        visibility: hidden;
        display: none;
    }

    .a-side{
        width: 98%;
        margin-top: 2rem;
        margin-left: .5rem;
    }

    .image-news{
        margin-top: 2rem;
    }
}